 img {
            width: auto;
            height: 150px;
        }

        body {
            background-color: rgb(73, 90, 96);
            font-family: Arial, sans-serif;
        }

        table {
            width: 30%;
            border-collapse: collapse;
        }

        tr,
        td {
            border: 2px solid black;
            padding: 10px;
            text-align: center;
            background-color: #32686f;
        }

        th {
            border: 3px solid black;
            background-color: #64fffa;
        }

        ul {
            list-style: circle;
        }

        label {
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        input[type="text"],
        input[type="email"] {
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4ca7af;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            color: rgb(255, 0, 170);
            animation-name: yee;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            background-color: #32686f;
        }

        .content-box {
            width: 250px;
            padding: 20px;
            margin: 10px;
            color: #c7f8ff;
            background-color: #79a5ca;
            border: 5px solid #00ffe5;
            text-align: center;
        }

        a {
            animation-name: yee;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        @keyframes yee {
            10% {
                color: red;
            }

            20% {
                color: rgb(255, 132, 0);
            }

            30% {
                color: yellow;
            }

            40% {
                color: rgb(166, 255, 0);
            }

            50% {
                color: rgb(0, 255, 153);
            }

            60% {
                color: rgb(0, 255, 242);
            }

            70% {
                color: blue;
            }

            80% {
                color: rgb(119, 0, 255);
            }

            90% {
                color: rgb(170, 0, 255);
            }

            100% {
                color: rgb(255, 0, 225);
            }
        }